/* Element Styles */

* {
	box-sizing: border-box;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #eee;
	margin: 0;
	overflow:hidden;
}

main {
	width: 90%;
	margin: 0 auto;
	height: 600px;
}

h1 {
	margin-bottom: 30px;
	margin-top: 0;
	font-size: 50px;
	letter-spacing: 2px;
	color: #333;
}

header {
	height: 100px;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 0;
	background: #48fdff;
	text-align: center;
	padding-top: 20px;
	border-bottom: 1px solid #ddd;
}

td {
	font-size: 40px;
	border-radius: 3px;
	color: #fff;
}

/* ID Styles */

#content {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

#x-choice {
	background: #FF61D2;
	color: #fff;
}

#sidebar {
	height: 100px;
	width: 100px;
	display: inline-block;
	float: right;
}

#reset {
	padding: 20px;
	margin: 20px auto;
	background: rgb(72, 253, 255);
	color: #333;
	font-size: 15px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#reset:active {
	background: #FF61D2;
	color: #fff;
}

/* Class Styles */

.game {
	width: 70%;
	float: left;
}

.sidebar {
	width: 30%;
	float: left;
}

.game-container	{
	padding: 5px 5px 5px 5px;
	margin-right: 10px;
	min-height: 60px;
}

.sidebar-container {
	font-size: 11px;
	padding: 5px 5px 5px 5px;
	min-height: 60px;
	text-align: left;
}

.sidebar-container div {
	text-align: center;
}

.clear-floated { 
	clear: both; 
	height: 1px; 
	font-size: 1px; 
	line-height: 1px; 
	padding: 0; 
	margin: 0; 
}

.choice {
	background: #333;
	color: #fff;
	width: 100px;
	padding: 35px 5px;
	font-size: 20px;
	margin: 5px;
	display: inline-block;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container {
	background: #fff;
	display: inline-block;
	margin: 0 auto;
	padding: 50px;
	border-radius: 7px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.square {
    width:150px;
    height:150px;
}

.vertical {
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.horizontal {
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}