* {
	box-sizing: border-box;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #eee;
	margin: 0;
	overflow:hidden;
}

main {
	width: 90%;
	margin: 0 auto;
	height: 600px;
}

h1 {
	margin-bottom: 30px;
	margin-top: 0;
	font-size: 50px;
	letter-spacing: 2px;
	color: #333;
}

header {
	height: 100px;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 0;
	background: #48fdff;
	text-align: center;
	padding-top: 20px;
	border-bottom: 1px solid #ddd;
}

td {
	font-size: 40px;
	border-radius: 3px;
}

aside {
	
}
.float-left-area  {
	width: 70%;
	float: left;
}

.float-right-area {
		  width: 30%;
		  float: left;
		  }

.inner-left	  {
		  padding: 5px 5px 5px 5px;
		  margin-right: 10px;
		  min-height: 60px;
		  }

.inner-right	  {
		  font-size: 11px;
		  padding: 5px 5px 5px 5px;
		  min-height: 60px;
			text-align: left;
		  }
.inner-right div {
	text-align: center;
}

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }


#content {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.choice {
	background: #48fdff;
	width: 100px;
	padding: 35px 5px;
	font-size: 20px;
	margin: 5px;
	display: inline-block;
	border-radius: 3px;
}

#x-choice {
	background: #333;
	color: #fff;
}

#sidebar {
	height: 100px;
	width: 100px;
	display: inline-block;
	float: right;
}

#reset {
	padding: 20px;
	margin: 20px auto;
	background: #21B1B2;
	color: #fff;
	font-size: 15px;

}

.container {
	background: #fff;
	display: inline-block;
	margin: 0 auto;
	padding: 50px;
	border-radius: 7px;
}


.square{
    width:150px;
    height:150px;
}

.vertical {
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.horizontal {
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}